.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#card,#card1,#card2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 350px;
    border: 7px solid black;
    border-radius: 11%;
    box-sizing:unset;
    border-color: black;
    padding: 50px;
    margin: 20px;
    align-content: center;
    align-items: stretch;
    justify-content: space-evenly;
}

 

#card_head,#card_head1,#card_head2{
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    

.card_footer,.card_footer1,.card_footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}

.liketg{
   background-color: red;
}
.img2,.img3{
    height: 250px;
    width: 250px;
}

